*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:lightblue;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    padding:40px 20px;
}


.card{
    background:white;
    width:100%;
    max-width:600px;
    padding:20px;
    border-radius:15px;
    box-shadow:grey;
    
}

h1{
    text-align:center;
    color:blue;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:lightslategray;
    margin-bottom:25px;
    line-height:1.5;
}

.input-group{
    margin-bottom:18px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:lightslategrey;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

textarea{
    height:70px;
    resize:none;
}

input:focus,
select:focus,
textarea:focus{
    outline:none;
    border-color:blue;
}

button{
    width:100%;
    padding:14px;
    background:blue;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:lightskyblue;
}
